@use "../abstract/mixins.scss" as res;

.app-layout {
  height: 100vh;
  background-color: var(--color-bege-001);
  padding-bottom: 4rem;
  @include res.screen(tab) {
    height: auto;
  }
}

.main {
  height: 100%;
  @include res.screen(phone) {
    height: auto;
  }
}

.container-layout {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: 100vh;

  @include res.screen(phone) {
    height: 100%;
  }
}
