@use "../abstract/mixins.scss" as res;

.app-layout {
  height: 100vh;

  // @include res.screen(tab) {
  //   height: auto;
  // }
  & .main {
    background-color: var(--color-bege-001);
    height: 100%;
    display: flex;
    @include res.screen(phone) {
      // height: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }
}
