@use "../abstract/mixins.scss" as res;

.app-layout {
  height: 100vh;
}

.main {
  background-color: var(--color-bege-001);
  height: 100%;

  @include res.screen(phone) {
    height: auto;
  }
}

.container-layout {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
