@use "../abstract/mixins.scss" as res;

.header {
  width: 100%;
  height: 7rem;
}

.content-header {
  height: 7rem;
  width: 98%;

  display: flex;
  align-items: end;
  justify-content: flex-end;

  .buttons-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    margin-right: 1rem;

    &--back,
    &--pdf {
      display: flex;
      align-items: center;

      border: none;
      padding: 0.6rem;
      border-radius: 0.8rem;
      cursor: pointer;
    }

    &--back {
      background-color: var(--color-black-primary);

      & .arrow {
        margin: 0 0.4rem;
        fill: var(--color-white-primary);

        width: 1.5rem;
        height: 1.5rem;
      }
    }

    & .pdf {
      margin: 0 0.4rem;
      fill: var(--color-white-primary);

      width: 2rem;
      height: 2rem;
    }
    & span {
      color: var(--color-white-primary);
    }
  }

  @include res.screen(phone) {
    &__content-buttons,
    & .buttons-header {
      display: none;
    }
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    height: 4rem;
    border-radius: 5px;
    background-color: var(--color-off-white);

    &-button {
      display: flex;
      align-items: center;

      & button {
        width: 10rem;
        height: 2.5rem;
        cursor: pointer;
      }
      &:hover {
        border-radius: 5px;
        border: 1px solid var(--color-bege-004);
      }
    }
  }
}

.active {
  border-radius: 5px;
  border: 1px solid var(--color-bege-004);
}
