.header {
  width: 100%;
  height: 7rem;
}

.content-header {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 5rem;
    height: 5rem;

    padding: 1rem;

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__button {
    margin-top: 2rem;
    margin-right: 1rem;

    &--back {
      display: block;
      margin: 0 auto;

      background-color: black;
      border: none;
      width: 5rem;
      border-radius: 3rem;
      margin-bottom: 1rem;

      cursor: pointer;

      & .arrow {
        fill: rgb(255, 255, 255);
      }
    }
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;

    &-button {
      margin-right: 1rem;

      & button {
        width: 10rem;
        height: 2.5rem;

        background-color: #e5e5e5;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}

//ball blink
.ball {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin: 0.4rem 0.6rem 0.3rem 0;
}

.green {
  background-color: rgb(0, 128, 0);
  animation: flashing 2s infinite;
}
.red {
  background-color: rgb(255, 0, 0);
  animation: flashing 2s infinite;
}
.orange {
  background-color: rgb(255, 166, 0);
  animation: flashing 2s infinite;
}

// @keyframes flashing {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0.5;
//   }
//   100% {
//     opacity: 1;
//   }
// }
