@use "../abstract/mixins.scss" as res;

.header {
  width: 100%;
  height: 7rem;
}

.content-header {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 5rem;
    height: 5rem;

    padding: 1rem;

    & img {
      width: 100%;
      height: auto;
    }
  }

  .buttons-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    margin-right: 1rem;

    &--back,
    &--pdf {
      display: flex;
      align-items: center;

      border: none;
      padding: 0.6rem;
      border-radius: 0.8rem;
      cursor: pointer;
    }

    &--back {
      background-color: black;

      & .arrow {
        margin: 0 0.4rem;
        fill: white;

        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &--pdf {
      background-color: rgb(255, 0, 0);
    }
    & .pdf {
      margin: 0 0.4rem;
      fill: white;

      width: 2rem;
      height: 2rem;
    }
    & span {
      color: white;
    }
  }

  @include res.screen(phone) {
    &__content-buttons,
    & .buttons-header {
      display: none;
    }
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;

    &-button {
      margin-right: 1rem;

      & button {
        width: 10rem;
        height: 2.5rem;

        background-color: transparent;

        border: 1px solid black;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}
