@use "../abstract/mixins.scss" as res;
@use "../abstract/keyframes.scss";

#approve {
  height: 100vh;
  width: 100%;
}
.screen-approve {
  height: 100%;

  &__button {
    padding: 1.5rem;

    display: flex;
    align-items: center;
  }
}

#employee {
  width: 100%;
  height: 91.9vh;
}

.screen-employee {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  & .background-image {
    position: absolute;
    top: 7.2rem;
    z-index: -1;

    & img {
      width: 40rem;
      height: 44rem;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    padding: 3rem;

    &--col2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include res.screen(phone) {
      justify-content: center;
    }
  }

  &__button > &__button--send {
    padding: 1.2rem 2em;
    margin-top: 2rem;

    background-color: #000;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
  }

  @include res.screen(phone) {
    flex-direction: row;
    justify-content: center;
  }
}

.request {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__button > &__button--new {
    display: block;
    padding: 0.6rem;
    margin-top: 3rem;

    background-color: var(--color-black-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    & svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

.spinner {
  margin: 4.8rem auto;
  width: 6rem;
  height: 5rem;
  fill: rgb(0, 0, 0);
  animation: rotate 1.5s infinite linear;
}
