@use "../abstract/mixins.scss" as res;
@use "../abstract/keyframes.scss";

#approve {
  height: 100vh;
  width: 100%;

  .settings {
    border-radius: 10px;
    background-color: var(--color-off-white);

    position: absolute;
    right: 2rem;
    bottom: 4rem;

    display: flex;
    align-items: center;
    transition: all 0.1s ease;

    &-btn {
      background-color: transparent;
      position: absolute;
      right: 0;
      border: none;
      cursor: pointer;
    }

    &-icon {
      width: 5rem;
      height: 5rem;
    }
  }

  @include res.screen(phone) {
    // position: relative;
    // height: auto;
  }
}
.screen-approve {
  height: 100%;

  &__button {
    padding: 1.5rem;

    display: flex;
    align-items: center;
  }
}

#employee {
  width: 100%;
  // height: 91.9vh;
  // height: 100%;
}

.screen-employee {
  height: 100%;

  // display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  & .background-image {
    position: absolute;
    top: 7.2rem;
    z-index: -1;

    & img {
      width: 40rem;
      height: 44rem;
    }
  }

  & .form {
    width: 100%;
    justify-content: space-around;

    & .form__inputs {
      display: flex;
      max-width: 56rem;
      justify-content: space-around;
      gap: 2.7rem;

      &--col1,
      &--col2 {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        & .form-group {
          position: relative;

          & > svg {
            top: 1rem;
          }
        }

        @include res.screen(phone) {
          justify-content: center;
          flex-direction: column;
        }
      }

      &--col1 {
        & textarea {
          resize: block;
          padding-top: 1rem;
          padding-left: 2rem;
          width: 26rem;
        }
      }

      @include res.screen(phone) {
        flex-direction: column;
        align-items: flex-start;

        .form__input,
        .textarea {
          width: 21rem;
        }
      }
    }

    &__button {
      margin: 0 auto;
      & .btn-send {
        color: var(--color-off-white);
        background-color: #100f0f90;
        border: none;
        border-radius: 10px;
        padding: 1.5rem 3.5rem;
        transition: all 0.5s ease;
        &:hover {
          background-color: #100f0f;
        }
      }
    }
    @include res.screen(phone) {
      // flex-direction: row;
      justify-content: center;
      gap: 0;
    }
  }

  @include res.screen(phone) {
    margin-bottom: 5rem;
  }
}

.request {
  // height: 100vh;
  padding: 3.4rem 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__button {
    display: block;
    margin: 0 auto;

    & a {
      margin: 3rem 0;
      & svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  @include res.screen(phone) {
    height: auto;
  }
}

.spinner {
  margin: 4.8rem auto;
  width: 6rem;
  height: 5rem;
  fill: var(--color-black-primary);
  animation: rotate 1.5s infinite linear;
}
