@use "../abstract/mixins.scss" as res;
@use "../abstract/keyframes.scss";

#approve {
  height: 100%;
  width: 100%;
  padding-bottom: 3rem;

  .settings {
    border-radius: 10px;
    background-color: var(--color-off-white);

    position: absolute;
    right: 2rem;
    bottom: 4rem;

    display: flex;
    align-items: center;
    transition: all 0.1s ease;

    &-btn {
      background-color: transparent;
      position: absolute;
      right: 0;
      border: none;
      cursor: pointer;
    }

    &-icon {
      width: 5rem;
      height: 5rem;
    }
  }

  @include res.screen(phone) {
    position: relative;
  }
}
.screen-approve {
  height: 100%;

  &__button {
    padding: 1.5rem;

    display: flex;
    align-items: center;
  }
}

#employee {
  width: 100%;
  height: 91.9vh;
}

.screen-employee {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  & .background-image {
    position: absolute;
    top: 7.2rem;
    z-index: -1;

    & img {
      width: 40rem;
      height: 44rem;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    padding: 3rem;

    &--col2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include res.screen(phone) {
      justify-content: center;
    }
  }

  &__button > &__button--send {
    padding: 1.2rem 2em;
    margin-top: 2rem;

    background-color: var(--color-black-primary);
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
  }

  @include res.screen(phone) {
    flex-direction: row;
    justify-content: center;
  }
}

.request {
  height: 100vh;
  padding: 3.4rem 0;

  &__button {
    display: flex;
    justify-content: center;

    & a {
      margin: 3rem 0;
      & svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  @include res.screen(phone) {
    height: auto;
  }
}

.spinner {
  margin: 4.8rem auto;
  width: 6rem;
  height: 5rem;
  fill: var(--color-black-primary);
  animation: rotate 1.5s infinite linear;
}
