.button-icon {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: transparent;
  cursor: pointer;

  & svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }
  & span {
    padding: 0 0.5rem;
  }

  a {
    text-decoration: none;
    color: red;
  }
}

.btn-primary {
  & {
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
    display: flex;
    justify-content: center;

    width: 18rem;
    height: 2rem;

    padding: 1.1em 2em;
    margin: 1.5rem;

    background-color: #000000c3;
    border: none;
    border-radius: 1.6rem 0;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  &:active {
    transform: translateY(-1px);
  }
}

.button-all {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttons-settings {
  position: absolute;
  right: 6rem;
  display: flex;

  & .buttons-header {
    display: inherit;
    align-items: center;
    gap: 0.6rem;
  }
}
