.btn-primary {
  & {
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
    display: block;
    width: 18rem;
    height: 2rem;

    padding: 1.3em 3em;
    margin: 1.5rem;

    background-color: #000000;
    border: none;
    border-radius: 2rem 0;
    transition: all 0.3s ease 0s;
    outline: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    transform: translateY(-1px);
  }
}

.button-all {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
