#button {
  & {
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
    display: block;
    width: 18rem;
    height: 2rem;

    padding: 1.3em 3em;
    margin: 1.5rem;

    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
    cursor: pointer;
  }
  &:hover {
    box-shadow: 0px 10px 20px rgba(245, 245, 245, 0.4);
    transform: translateY(-7px);
  }

  &:active {
    transform: translateY(-1px);
  }
}
