.content-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  flex-grow: 1;
}

.card {
  width: 22rem;
  padding: 2rem;
  background-color: var(--color-off-white);
  border-radius: 1.5rem 0 1.5rem 0;

  &__information-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;

    &--status {
      display: flex;
      align-items: center;
    }
  }
}
