.content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: #8383832a;
  width: 22rem;
  padding: 1.5rem;
  margin-left: 2rem;

  border-radius: 1rem 2.5rem 1rem 2.5rem;

  &__information-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;

    &--view {
      display: flex;
      align-items: center;

      width: auto;
      cursor: pointer;
    }
  }
}
