.form {
  display: flex;
  align-items: center;
  position: relative;
  width: 35rem;

  &__input {
    width: 100%;
    height: 45px;
    padding-left: 5rem;
    border: 2px solid #fff0;
    border-radius: 10px;
    background-color: var(--color-bege-004);
    outline: none;
    color: var(--color-black-primary);
    transition: 0.5s ease;

    &::placeholder {
      color: var(--color-black-primary);
    }
  }

  &__input:focus,
  input:hover {
    outline: none;
    border-color: rgba(0, 0, 0, 0.505);
    background-color: var(--color-bege-001);
  }

  &__icon {
    position: absolute;
    left: 2rem;
    width: 2rem;
    height: 4rem;
    fill: rgba(0, 0, 0, 0.442);
  }
}
