.input {
  display: flex;

  & input,
  & textarea {
    padding: 1.1rem 1rem;
    border: 2px #fff solid;
    border-radius: 6px;
    border: 1px solid var(--color-black-primary);
    font-size: 1.6rem;

    width: 20rem;
  }
  & input:focus {
    outline: none;
  }
}

.error-inputs {
  color: #ff0000cd;
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0;
}

.error-input {
  border: 1px solid #ff0000cd !important;
  background-color: #ff00002b;
}
