.input {
  gap: 1rem;

  & input,
  & textarea {
    padding: 1.1rem 1rem;
    border: 2px #fff solid;
    border-radius: 5px;
    background: #e8e8e8;
    font-size: 1.6rem;

    width: 25rem;
  }
  & input:focus {
    outline: none;
  }
}
