@use "../abstract/mixins.scss" as res;

#login {
  width: 100%;
  height: 100vh;
  // background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-login {
  position: relative;
  width: 50rem;
  padding: 2rem;

  display: inherit;
  flex-direction: column;
  align-items: inherit;

  border-radius: 0.5rem;
  background-color: var(--color-off-white);

  @include res.screen(phone) {
    width: 32rem;
  }
}

.logo-login {
  padding: 2rem;
  & svg {
    width: 6rem;
    height: 6rem;
  }
}

.chose-login,
.login {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.form-login {
  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    max-width: 240px;

    & input[type="text"],
    & input[type="password"],
    & input[type="email"] {
      padding: 1.1rem 1rem;
      border: 2px #000 solid;
      border-radius: 5px;
      font-size: 1.6rem;
      color: #000;

      width: 25rem;
    }
    & input:focus {
      outline: none;
    }
  }
}
