@use "../abstract/mixins.scss" as res;
@use "../abstract/keyframes.scss";

.modal {
  display: block;
  z-index: 200;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #060606a8;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);

  &__date {
    &--text {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &__content {
    position: absolute;
    border-radius: 1rem;
    padding: 2.5rem 1.5rem;
    z-index: 200;

    background-color: #fff;
    max-width: 50rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-information {
      padding: 0rem 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
    }

    @include res.screen(phone) {
      padding: 1.5rem;

      width: 30rem;

      & p {
        text-align: left;
      }
    }
  }
}

.modal {
  &__content-buttons {
    display: flex;
    justify-content: center;

    margin-top: 2rem;

    .button-modal {
      width: 10rem;
      height: 4rem;
      border: none;
      border-radius: 5px;

      cursor: pointer;
      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }

    &--aprove,
    &--deny {
      & svg {
        opacity: 0.6;
      }
      &:hover {
        & svg {
          opacity: 1;
        }
      }
    }

    &--aprove {
      background: rgb(0, 149, 0);
      order: 0;

      &:hover {
        background: rgb(4, 180, 4);
      }
    }
    &--deny {
      background: #a81a1a;

      &:hover {
        background: #c32222;
      }
    }

    @include res.screen(phone) {
      justify-content: center;
    }
  }

  &__content-button {
    &--close {
      position: absolute;
      right: 2rem;
      top: 1rem;

      border: none;
      background-color: transparent;

      cursor: pointer;
      & svg {
        fill: black;
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }
}

.hidden {
  display: none !important;
}

//ball blink
.status {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin: 0.4rem 0.6rem 0.3rem 0;
}

.approve {
  background-color: rgb(0, 128, 0);
  animation: flashing 2s infinite;
}
.denied {
  background-color: rgb(255, 0, 0);
  animation: flashing 2s infinite;
}
.pendent {
  background-color: rgb(255, 166, 0);
  animation: flashing 2s infinite;
}
