@use "../abstract/mixins.scss" as res;
@use "../abstract/keyframes.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
  &__date p {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 3.2rem 3.2rem;
    background-color: var(--color-off-white);
    box-shadow: 0px 0px 13px -3px var(--color-black-primary);

    &-information {
      padding: 2rem 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    @include res.screen(phone) {
      padding: 1.5rem;
      width: 30rem;
      & p {
        text-align: left;
      }
    }
  }
}

.modal {
  &__content-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .button-modal {
      width: 10rem;
      height: 4rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }

    &--aprove {
      background-color: var(--color-green-dark);

      &:hover {
        background-color: var(--color-green-light);
      }
    }
    &--deny {
      background: var(--color-red-dark);

      &:hover {
        background: var(--color-red-light);
      }
    }

    &--close {
      position: absolute;
      right: 2rem;
      top: 1rem;
      border: none;
      cursor: pointer;

      & svg {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }
}

.hidden {
  display: none !important;
}

//ball blink
.status {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin: 0.4rem 0.6rem 0.3rem 0;
}

.approve {
  background-color: var(--color-green-dark);
  animation: flashing 2s infinite;
}
.denied {
  background-color: var(--color-red-light);

  animation: flashing 2s infinite;
}
.pendent {
  background-color: var(--color-yellow-dark);
  animation: flashing 2s infinite;
}
