@use "../abstract/mixins.scss" as res;
@use "../abstract/keyframes.scss";

.modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #060606a8;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: block;

  &__content {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;

    background-color: #fff;
    max-width: 50rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal {
  &__location {
    display: inline-block;
    text-align: right;
  }

  &__content-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    margin-top: 2rem;

    .button-modal {
      width: 10rem;
      height: 5rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }

    &--aprove {
      background: rgb(0, 149, 0);
      order: 0;

      &:hover {
        background: rgb(4, 180, 4);
      }
    }
    &--deny {
      background: #a81a1a;

      &:hover {
        background: #d62323;
      }
    }

    @include res.screen(phone) {
      justify-content: center;
    }
  }

  &__content-button {
    order: 1;

    &--close {
      background: #2f1f1f;
    }
  }
}

.hidden {
  display: none !important;
}

.error-inputs {
  color: red;
  font-size: 1.2rem;
  margin: 0 0 1rem 0.5rem;
}

//ball blink
.status {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin: 0.4rem 0.6rem 0.3rem 0;
}

.approve {
  background-color: rgb(0, 128, 0);
  animation: flashing 2s infinite;
}
.denied {
  background-color: rgb(255, 0, 0);
  animation: flashing 2s infinite;
}
.pendent {
  background-color: rgb(255, 166, 0);
  animation: flashing 2s infinite;
}
