.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #9c9c9ca8;
  display: block;

  &__content {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;

    background-color: #fff;
    max-width: 50rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.popup {
  &__location {
    display: inline-block;
    text-align: right;
  }

  &__content-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    margin-top: 2rem;

    .button-popup {
      width: 10rem;
      height: 5rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }

    &--aprove {
      background: rgb(0, 149, 0);
      order: 0;

      &:hover {
        background: rgb(4, 180, 4);
      }
    }
    &--deny {
      background: #a81a1a;

      &:hover {
        background: #d62323;
      }
    }
  }

  &__content-button {
    order: 1;

    &--close {
      background: #2f1f1f;
    }
  }
}

.hidden {
  display: none;
}
