:root {
  --color-black-primary: #000;
  --color-white-primary: #fff;

  --color-off-white: #edede9;
  --color-bege-001: #d6ccc2;
  --color-bege-002: #f5ebe0;
  --color-bege-003: #e3d5ca;
  --color-bege-004: #d5bdaf;

  --color-green-light: #04b404;
  --color-green-dark: #009500;
  --color-red-light: #c32222;
  --color-red-dark: #a81a1a;
  --color-yellow-light: #f0a51b;
  --color-yellow-dark: #ffa600;
}
