@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Maven+Pro:wght@400..900&family=Oxygen:wght@300;400;700&display=swap");

.lalezar-regular {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black-primary);
}
.maven-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

.chose-login,
.login {
  &__title {
    font-size: 2.6rem;

    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
}

.form-login {
  &__input {
    &--name,
    &--password {
      font-size: 1.5rem;
    }
  }
}

.btn-primary {
  color: #fff;
  font-weight: 700;
}

.singUp-title,
.login__title {
  font-size: 2rem;
  font-family: "Lalezar", system-ui;

  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;

  margin-top: 2rem;

  color: #000;
}
.content-header {
  &__name {
    font-size: 1.2rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
  }
}

.nav {
  &__list-button button {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.screen-approve {
  &__button {
    font-size: 2rem;
    font-weight: 700;
  }
}

// SCREEN CARDS REQUESTS
.card {
  &__title {
    font-size: 2rem;
    font-weight: 700;

    text-align: center;
  }

  &__username,
  &__location,
  &__date {
    font-size: 1.4rem;
    font-family: "Maven Pro", sans-serif;
    font-weight: 800;
    line-height: 3rem;
  }

  &__location,
  &__username {
    &--description {
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__date {
    &-start,
    &-end {
      &--description {
        font-weight: 500;
        margin-left: 0.5rem;
        color: #0000007f;
      }
    }
  }

  &__information-bottom {
    &--status,
    &--view {
      font-size: 1.6rem;
      font-weight: 700;
    }
    &--text {
      margin-left: 0.6rem;
    }
  }
}

// SCREEN MODAL REQUESTS
.modal {
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }

  &__name,
  &__location,
  &__date,
  &__observation {
    &--text {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.5rem;
      padding: 0.4rem;
    }

    &--span {
      font-weight: 300;
    }
  }

  &__date {
    &--start,
    &--end {
      font-weight: 500;

      margin-right: 0.8rem;
      display: block;
    }
  }

  &__observation {
    hyphens: auto;
  }

  .button-modal {
    font-weight: bold;
    color: var(--color-white-primary);
  }
}

// SECTION EMPLOYEE
.screen-employee {
  &__title {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
  }
  & .form-group {
    font-size: 1.5rem;
  }

  &__button > &__button--send {
    font-size: 1.5rem;
    color: var(--color-white-primary);
  }
}

// SCREEN REQUEST USER
.request {
  &__title {
    font-size: 2rem;

    text-align: center;
    margin: 2rem;
  }

  &__button > &__button--new {
    font-size: 1.5rem;
    color: var(--color-white-primary);
  }
}

.no-requests {
  font-size: 2rem;
  font-family: "Lalezar", system-ui;
  font-weight: 700;

  text-align: center;
  width: 100%;
}

.content-header__button {
  & span {
    color: white;
    font-weight: 700;
  }
}
