@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Maven+Pro:wght@400..900&family=Oxygen:wght@300;400;700&display=swap");

/*
.lalezar-regular {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}


.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.maven-pro-<uniquifier> {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
a {
  text-decoration: none;
  color: currentColor;
}

.chose-login,
.login {
  &__title {
    font-size: 2.6rem;
    font-family: "Lazelar", system-ui;
    font-weight: 600;

    color: #fff;
  }
}

.form-login {
  &__input {
    color: #00000094;

    &--name,
    &--password {
      font-family: "Lazelar", system-ui;
      font-size: 1.5rem;
      color: #fff;
      font-weight: 700;
    }
  }
}

#button {
  & {
    font-size: 1.5rem;
    font-family: "Lazelar", system-ui;

    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;

    color: #000;
  }
}

.singUp-title {
  font-size: 2rem;
  font-family: "Lazelar", system-ui;

  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;

  margin-top: 2.5rem;

  color: #000;
}
.content-header {
  &__name {
    font-size: 1.2rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
  }
}

.nav {
  &__list-button button {
    font-size: 1.5rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
  }
}

.screen-approve {
  &__button {
    font-size: 2rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
  }
}

.card {
  &__title {
    font-size: 2rem;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;

    text-align: center;
  }

  &__username,
  &__location,
  &__date {
    font-size: 1.4rem;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    line-height: 3rem;
  }

  &__location {
    &--description {
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  &__date {
    &-start,
    &-end {
      &--description {
        margin-left: 0.5rem;
        color: #0000007f;
      }
    }
  }

  &__information-bottom {
    &--status,
    &--view {
      font-size: 1.6rem;
      font-family: "Maven Pro", sans-serif;
      font-weight: 800;
    }
    &--text {
      margin-left: 0.6rem;
    }
  }
}

.popup {
  &__title {
    font-size: 2.5rem;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;

    text-align: center;
  }

  &__name,
  &__location,
  &__date,
  &__observation {
    &--text {
      font-size: 2rem;
      font-family: "Oxygen", sans-serif;
      font-weight: 900;

      line-height: 3.5rem;

      padding: 0.4rem;
    }

    &--span {
      font-weight: 400;
    }
  }

  &__date {
    &--start,
    &--end {
      font-weight: 500;

      margin-right: 0.8rem;
      display: block;
    }
  }

  &__observation {
    hyphens: auto;
  }

  .button-popup {
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
    color: white;
  }
}

.screen-employee {
  &__title {
    font-family: "Lazelar", system-ui;
    font-size: 2rem;

    text-align: center;
    margin: 2rem;
  }
  &__inputs {
    font-family: "Lazelar", system-ui;
    font-size: 1.5rem;
    font-weight: 700;

    & input,
    textarea {
      color: #0000008f;
    }
  }

  &__button > &__button--send {
    font-family: "Lazelar", system-ui;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }
}

.request {
  &__title {
    font-family: "Lazelar", system-ui;
    font-size: 2rem;

    text-align: center;
    margin: 2rem;
  }

  &__button > &__button--new {
    font-family: "Lazelar", system-ui;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }
}
/*
    <section className="request">
      <div className="request__content">
        <h1 className="request__title">Solicitações</h1>
        <div className="request__cards">
          <Card
            title="30 dias"
            dateStart="23/04/2024"
            dateEnd="23/05/2024"
            view={false}
          />
        </div>
      </div>
      <div className="request__button">
        <Button className="request__button--new">Nova solicitação</Button>
      </div>
    </section>
*/
